/* You can add global styles to this file, and also import other style files */
* {
    font-family: Roboto, Helvetica, sans-serif;
  }

  body {
    padding: 0;
    margin: 0;
  }

  .grid {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0px;
    grid-template-columns: repeat(2, 1fr);
    
  }

  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }